---
layout: default
title: "Home"
order: 1
description: > # this means to ignore newlines until "baseurl:"
  Nell Corbly lived and worked in Cambodia for over 17 years before publishing her book, 
  Fall Like Rain, which is based on true events in the lives of Cambodian people 
  whom she knows. As an artist, she enjoys almost anything that involves creativity, 
  and is fascinated by the cultural arts of South East Asia. Compelled by the the stories
  that informed Fall Like Rain, she began to paint pictures with words.
  As a Christian Development worker, she is fascinated by the study of worldview, 
  and how it impacts real lives. 

book         : "https://a.co/d/gTLURUz"
global-study : "https://docs.google.com/document/d/e/2PACX-1vQ0Iu98ByuH67de8ZOOpRV87IPrXEN8_ZPqQUW2mnZ6asRfILTx_AqSPgfAVaqAdbItL4Wau86C65wi/pub"
companion    : "https://docs.google.com/document/d/e/2PACX-1vQWIxUvVmGo1erZw8HFm1ftQwbh7g4s9Y0uSS0C8u86-ox5m8GZPC8IWFH5xx7LcA/pub"
questions    : "https://docs.google.com/document/d/e/2PACX-1vSbUbmdQsQJQSkQ7POHefxbM1392O9uiXaQLRGO6rR0oJbg9gtlPyrC6R8gq5NoZ6RuVki_A2AZ4YVz/pub"
study-story  : "https://docs.google.com/document/d/e/2PACX-1vQ6OwUcAQKZa2mbY3wYu3Arj6FlSY_ETCrXCIipBodtFse_ZyY_4PeVruzji7jPRg/pub"
---
<header>
  <p><b>"The website provides a study materials based on topics from Fall Like Rain. Please note, the content is still being written: currently it is not yet complete. Please check back later! Thank you!"</b></p>
  <hr>
  <h1>{{ site.subtitle }}</h1>
  <p>{{ page.description }}</p>
</header>

{% include buy-book.html %}
<hr>
{% include study-story.html %}
{% include global-study.html %}
{% include questions.html %}
{% include companion.html %}
<hr>
<blockquote>{{ site.testamonial }}</blockquote>
<h4>Paul G. Hiebert</h4>

<section class="tiles">

  {% for post in site.posts %}
      <article class="{{ post.class }}">
        <span class="image">
          <img src="{{ post.list-image | prepend: site.baseurl }}" alt="">
        </span>
        <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
          <h2>{{ post.title }}</h2>
          <!-- <span>{{ post.date | date: "%b %-d, %Y" }}</span> -->
          <div class="content">
            <p>{{ post.description }}</p>
          </div>
        </a>
      </article>
    {% endfor %}

</section>


