---
layout: default
title: "Home"
order: 1
description: > # this means to ignore newlines until "baseurl:"
  Nell Corbly lived and worked in Cambodia for over 17 years before publishing her book, 
  Fall Like Rain, which is based on true events in the lives of Cambodian people 
  whom she knows. As an artist, she enjoys almost anything that involves creativity, 
  and is fascinated by the cultural arts of South East Asia. Compelled by the the stories
  that informed Fall Like Rain, she began to paint pictures with words.
  As a Christian Development worker, she is fascinated by the study of worldview, 
  and how it impacts real lives. 

book: "https://a.co/d/gTLURUz"
---
<header>
  <h1>{{ site.subtitle }}</h1>
  <p>{{ page.description }}</p>
</header>

  {% include buy-book.html %}
  <hr>
  <blockquote>{{ site.testamonial }}</blockquote>
  <h4>Paul G. Hiebert</h4>

<section class="tiles">

  {% for post in site.posts %}
      <article class="{{ post.class }}">
        <span class="image">
          <img src="{{ post.list-image | prepend: site.baseurl }}" alt="">
        </span>
        <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
          <h2>{{ post.title }}</h2>
          <!-- <span>{{ post.date | date: "%b %-d, %Y" }}</span> -->
          <div class="content">
            <p>{{ post.description }}</p>
          </div>
        </a>
      </article>
    {% endfor %}

</section>


