---
layout: base
title: "Home"
order: 1
description: > 
  Nell Corbly lived and worked in Cambodia for over 17 years before publishing her book, 
  Fall Like Rain, which is based on true events in the lives of Cambodian people 
  whom she knows. As an artist, she enjoys almost anything that involves creativity, 
  and is fascinated by the cultural arts of South East Asia. Compelled by the the stories
  that informed Fall Like Rain, she began to paint pictures with words.
  As a Christian Development worker, she is fascinated by the study of worldview, 
  and how it impacts real lives. 

book: "https://a.co/d/gTLURUz"
study-story  : "https://docs.google.com/document/d/e/2PACX-1vQ6OwUcAQKZa2mbY3wYu3Arj6FlSY_ETCrXCIipBodtFse_ZyY_4PeVruzji7jPRg/pub"

header-image: "/assets/images/Artwork4.jpeg"            # config image to post header

---
{% if page.header-image %}
  <span class="image main"><img src="{{ page.header-image | prepend: site.baseurl }}" alt="{{ page.alt-image }}"></span>
{% endif %}

Welcome! This website was created to host the <b><i>Study Through Story</i></b> global mission curriculum materials which are designed to be used with my book <b><i>Fall Like Rain</i></b> as a starting point.

<br> <br>
Paul Borthwick, Development Associates International, and author of Western Christians in Global Mission and How to be a World-Class Christian, in his endorsement of Fall Like Rain, writes:
<br>
“A mentor once told me, ‘If you want to be an excellent educator, learn to tell stories.’ <i>Fall Like Rain</i> is a well written story from an excellent educator. Read this book and through story, you’ll learn widely – about Cambodia, about cross-cultural adjustment, about the challenges of growing up as a child of first-generation immigrants, and about the hardships faced by the world’s poorest people – like sweatshops and trafficking. But first and foremost, <i>Fall Like Rain</i> is a story of how Jesus can transform a worldview dominated by suffering and darkness into a worldview overwhelmed by hope.”

<hr>
<h2>{{ site.subtitle }}</h2>
Masters student Sophy Seng is looking for a good resume builder, so she takes an internship in her parents' birth country of Cambodia in Southeast Asia. As she assimilates to this exotic land and its people, she's confronted with the true story of a young Cambodian girl. It's a story she cannot ignore; a story that changes her way of thinking. A story of one young woman's journey from fear to freedom.
<br>
Born in the early 1980s to survivors of the Khmer Rouge genocide, Kunthea can't figure out exactly what happened and why no one will talk about it. Surrounded by a family still shell-shocked by the horror, she's determined to make sense of life, all while struggling merely to survive.
When Sophy discovers Kunthea's lost diary, the puzzle of the Cambodian girl's life comes together piece by piece, drawing Sophy deeper into her world. Confronted with questions she'd never considered asking, Sophy gets much more than she'd bargained for in this six-month internship.
Based on a true story, Fall like Rain is a revealing of the dark realities of poverty; of belief systems rooted in lies, and the ultimate power of truth to stamp out the darkness.
<br>
Fall Like Rain is for anyone interested in stories of resilience and courage, foreign cultures and lands, poverty alleviation, global mission and development.

<hr>
<h2>OVERVIEW OF STUDY THROUGH STORY MATERIALS</h2>

<div class="3u 12u$(medium)">
  <ul class="actions vertical">
    <li><a href="{{ page.study-story }}" target="_blank" class="button special fit">Study Thru Story</a></li>
  </ul>
</div>

<hr>
<blockquote>{{ site.testamonial }}</blockquote>
<h4>Paul G. Hiebert</h4>
<hr>
<h2>ALL STUDY THROUGH STORY MATERIALS</h2>

<section class="tiles">

  {% for post in site.posts %}
      <article class="{{ post.class }}">
        <span class="image">
          <img src="{{ post.list-image | prepend: site.baseurl }}" alt="">
        </span>
        <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
          <h2>{{ post.title }}</h2>
          <!-- <span>{{ post.date | date: "%b %-d, %Y" }}</span> -->
          <div class="content">
            <p>{{ post.description }}</p>
          </div>
        </a>
      </article>
    {% endfor %}

</section>


